/* styles.css */

body {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.table {
    width: 600px;
    background-color: lightgreen;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.image {
    padding: 10px;
    border: 3px solid green;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

ol {
    padding: auto;
    text-align: left;
}

li {
    margin: 5px 0;
}

#first-header {
    color: rgb(255, 253, 253);
}

#in-table {
    text-align: left;
}

#end {
    color: rgb(255, 255, 255);
    caption-side: bottom;
    padding-top: 10px;
}
